<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="form-group">
        <label>Account Name</label>
        <input
        type="text"
        class="form-control"
        #accountName>
      </div>
      <div class="form-group">
        <select class="form-control">
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
          <option value="Hidden">Hidden</option>
        </select>
      </div>
      <button
        class="btn-btn-primary"
        (click)="onCreateAccount(accountName.value)">
        Add Account
       </button>
    </div>


 </div>


