<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account></app-new-account>
      <hr>
      <app-account *ngFor="let acc of accounts; let i=index"
      [account]="acc"
      [id]="i">

      </app-account>

    </div>
  </div>
</div>
